{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
          {# First item #}
          {% if loop.first and not articles_page.has_previous() %}
              <aside id="featured" class="body">
                  <div class="container">
                      <p> Die pycologne trifft sich jeweils am 2. Mittwoch jeden Monats.</p>
                      <h1>Nächster Termin</h1>
                      <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                      {% include 'article_infos.html' %}{{ article.content }}{% include 'comments.html' %}
                  </div>
              </aside><!-- /#featured -->
              <h2><a href="archives.html">Ältere Treffen</a></h2>
              <span class="feeds"><a class="feed" href="feeds/all.atom.xml">Treffen als Feed</a></span>
              <hr />
        {% endif %}
        {% endfor %}
    {% endif %}

    <h1>Über Uns</h1>
    {% for page in pages %}
    {% if page.title == "About" %}
    {{ page.content }}
    {% endif %}
    {% endfor %}

{% endblock content %}
